@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

html,
body {
    height: 100%;
    font-family: "Lexend", sans-serif;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(10, 0, 47);
}

main.waitmain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    overflow: auto;
}

span {
    color: white;
    text-align: center;
    cursor: default;
}

main.waitmain .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0 0 25px;
    height: 100%;
    width: 90%;
}

main.waitmain button,
body button {
    border-radius: 5px;
}

main.waitmain img {
    padding: 0;
}

.refesh-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button {
    height: 20px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button:active {
    background: rgb(36, 0, 167);
}

.apnav {
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 15px 10px 5px;
    border-radius: 0 0 5px 5px;
    margin: 0 1px;
    font-size: 18px;
    background: rgb(77, 56, 152);
    transition: all .25s ease-in;
}

.apnav.current {
    background: rgb(22, 1, 98);
    /* border: rgb(17, 0, 80) 3px solid; */
    border-top: none;
}

.apnav:hover {
    background: rgb(22, 1, 98);
}

#panelnav {
    position: absolute;
    /* background: rgb(77, 56, 152); */
    height: 42.67px;
    border-radius: 5px 0 5px 0;
    display: flex;
    align-items: flex-end;
    top: 5px;
    left: 5px;
    padding-left: 15px;
}

.apnav:active {
    background: rgb(61, 39, 142);

}

.content-el {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0 0 20px;
    height: 100%;
    width: 100%;
}

.info-el {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.spacer:last-child {
    min-width: 400px;
    min-height: 50px;
    border: 2px rgba(0, 0, 0, 0) solid;
    display: flex;
}

.aptitles {
    font-size: 30px;
}

.aptitles-titles {
    font-size: 26px;
    padding: 10px 0 0 0;
    margin: 0 0 0 15px;
}

.version-title {
    padding: 15px 0;
}

.info-items-text {
    display: flex;
    align-items: center;
    margin: 5px 2px;
}

.info-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 15px;
}

.info-value {
    color: rgb(220, 204, 254);
    margin: 0 0 0 32px;
    text-align: left;
}

.info-items img,
form img {
    height: 25px;
    margin: 0 5px 0 0;
}

.info-items-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.info-items-btn button {
    margin-right: 5px;
}

img.infoicon {
    height: 15px;
    margin: 0 0 0 5px;
}


#lastrefresh,
.ifi,
.input-info {
    color: rgb(220, 204, 254);
    font-size: 12px;
}

.ifi {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

/* .info-items-text:hover .ifi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.addlog,
.minuslog {
    width: 25px;
    font-size: 40px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 5px 0 0;
}

.slashlog {
    width: 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 5px 0 0;
}

.addlog {
    color: green;
}

.minuslog {
    color: red;
}

.slashlog {
    color: gray;
}

.log-items {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.panel-input {
    height: 25px;
    width: 200px;
    font-size: 16px;
    padding: 0 5px;
    color: rgb(10, 0, 47);
    border-radius: 2px;
}

.notalowed {
    color: red;
}



.user-el {
    background: radial-gradient(circle, rgb(14, 0, 65) 49%, rgba(10, 0, 47, 1) 100%);
    display: flex;
    align-items: center;
    min-height: 45px;
    border-radius: 5px;
    justify-content: space-between;
    width: 100%;
    margin: 3px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.content-el:nth-child(2) {
    margin: 50px 0 0 20px;
}

.addbutton {
    min-height: 45px;
}

.user-el:nth-child(2) {
    background: none;
    box-shadow: none;
}

.name {
    padding: 0 0 0 10px;
}

.user-button {
    margin: 0 5px 0 0;
    height: 35px;
    padding: 0 10px;
}

.rooms-of-user {
    padding: 0 150px 0 0;
}

.rooms-of-user-title {
    padding: 0 150px 0 0;
    text-align: end;
}

.rooms-of-user-title span {
    font-weight: bold;
}

.pw-of-user-title {
    padding: 0 193px 0 0;
    text-align: end;
}

.flex-div {
    display: flex;
    align-items: center;
}

.user-btn {
    width: 116px;
}

.user-container {
    display: flex;
    align-items: center;
}

#createuser-form,
#edituser-form {
    background: rgb(22, 1, 98);
    position: absolute;
    height: 300px;
    width: 250px;
    padding: 10px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
}

#edituser-form {
    height: 375px;
}

#createuser-form-grabber,
#edituser-form-grabber {
    cursor: grab;
}

#createuser-form-grabber:active,
#edituser-form-grabber:active {
    cursor: grabbing;
}

.form-on {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}

#admin-true-false {
    height: 20px;
    height: 20px;
}

.admin-perms-indi {
    color: red;
    padding: 0 100px 0 0;
    max-width: 13.5px;
    width: 100%;
}

.checkbox-wrapper-55 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-55 *,
.checkbox-wrapper-55 ::after,
.checkbox-wrapper-55 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-55 .rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
}

.checkbox-wrapper-55 .rocker-small {
    font-size: 0.75em;
}

.checkbox-wrapper-55 .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
}

.checkbox-wrapper-55 .switch-left,
.checkbox-wrapper-55 .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
    user-select: none;
}

.checkbox-wrapper-55 .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}

.checkbox-wrapper-55 .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
}

.checkbox-wrapper-55 .switch-left::before,
.checkbox-wrapper-55 .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}

.checkbox-wrapper-55 .switch-left::before {
    left: -0.4em;
}

.checkbox-wrapper-55 .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

.checkbox-wrapper-55 input:checked+.switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

.checkbox-wrapper-55 input:checked+.switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

.checkbox-wrapper-55 input:checked+.switch-left+.switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

.checkbox-wrapper-55 input:checked+.switch-left+.switch-right::before {
    background-color: #ccc;
}

/* Keyboard Users */
.checkbox-wrapper-55 input:focus+.switch-left {
    color: #333;
}

.checkbox-wrapper-55 input:checked:focus+.switch-left {
    color: #fff;
}

.checkbox-wrapper-55 input:focus+.switch-left+.switch-right {
    color: #fff;
}

.checkbox-wrapper-55 input:checked:focus+.switch-left+.switch-right {
    color: #333;
}

.shouldnot {
    background: rgb(32, 0, 110);
}




.tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #8733F0;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    top: -5px;
    left: 105%;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #8733F0 transparent transparent;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 0.3;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

.info-sheet {
    margin: 5px;
    background: rgb(22, 1, 98);
    background: radial-gradient(circle, rgb(14, 0, 65) 49%, rgba(10, 0, 47, 1) 100%);
    border-radius: 5px;
    padding: 20px 20px 60px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}