@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

iframe {
    padding: 0 !important;
    height: 790px !important;
    width: 1060px !important;
    border: none;
    overflow: none;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
}

#chatroom {
    height: 1000px;
    background: none !important;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: flex-start !important;
}

.chatrooms {
    color: white;
    width: 220px;
    max-height: 790px;
    height: 100%;
    background: rgb(22, 1, 98);
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px 0 0 5px;
}

.chatrooms .chatrooms {
    padding: 0;
}

.chatrooms img,
.profile-logo,
#profile-logo {
    height: 35px;
    width: 35px;
    margin: 0 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-logo {
    border-radius: 18.5px;
    border: solid white 1px;
}

.chatrooms a {
    color: #fff;
    text-decoration: none;
}

.chatroom {
    display: flex;
    align-items: center;
    width: 210px;
    height: 50px;
    display: flex;
    padding: 0 0 0 10px;
}

h2 {
    height: 85px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lmsg {
    color: rgb(220, 204, 254);
    font-size: 12px;
}

.name {
    display: flex;
    flex-direction: column;
}

.roomcon {
    border-radius: 5px;
    margin: 2px 0 0 0;
}

.roomcon:hover {
    background: rgb(60, 29, 173);
    cursor: pointer;
}

.curroom {
    background: rgb(39, 7, 154);
    border-radius: 5px;
}

.chat-form {
    background: rgb(66, 21, 163);
    color: white;
}

.chat-form input {
    border-radius: 5px;
    border: none;
    background: rgb(193, 167, 251);
    height: 35px;
    font-size: 20px;
    padding: 0 20px 0 20px;
    color: #fff;
    border-color: white;
}

.chat-form .ibutton {
    border-radius: 5px;
    background: rgb(138, 97, 225);
}

.chat-form .ibutton:hover {
    background: rgb(113, 85, 216);
}

.g-article {
    background: rgb(22, 1, 98);
}

.gen::placeholder {
    color: rgb(255, 255, 255, 0.5);
}

div#profile.roomcon {
    display: flex;
    align-self: flex-end;
    margin: 0 0 4px 0;
}

#serverlog {
    height: 800px;
    width: 90%;
    border: black 5px solid;
    background: rgb(30, 30, 30);
    overflow: auto;
    word-break: break-all;
    border-radius: 5px;
}

.terminal-con {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#serverlog div {
    color: #fff;
    font-weight: 300;
    padding: 0 0 0 4px;
}

.terminal-item:nth-child(even) {
    background: rgb(37, 37, 38);
}

/* width */
#serverlog::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#serverlog::-webkit-scrollbar-track {
    background: rgb(22, 22, 22);
}

/* Handle */
#serverlog::-webkit-scrollbar-thumb {
    background: rgb(32, 32, 32);
}

/* Handle on hover */
#serverlog::-webkit-scrollbar-thumb:hover {
    background: rgb(122, 122, 122);
}

.terminal-filer-container {
    position: relative;
    height: 100px;
    width: 100px;
    background: rebeccapurple;
}

.terminal-filter-text {
    color: white;
}

.terminal-filter-checkbox {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.terminal-filter-el {
    display: flex;
    align-items: center;
}